<a href="https://colab.research.google.com/github/AshutoshPdy22/Python_Advancement/blob/main/01_Libraries/0_Numpy/2_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
a = np.array([1,2,4,6,44,3]) #numpy array can be store in list style
b = np.array((1,2,4,6,4,33)) #numpy array can be store in tuple style

In [ ]:
print(*a)
print(*b)

1 2 4 6 44 3
1 2 4 6 4 33

In [ ]:
print(type(a))
print(type(b))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

## Wrong approach of storing data in np array without define data-type eg :-

In [ ]:
a1 = np.array ([("priya","22","BCA"),("Ash","23","BCA")])
a2 = np.array ([["priya","22","BCA"],["Ash","23","BCA"]])
print(a1[0])
print(a1[0][0])
print(a2[0])
print(a2[0][0])

['priya' '22' 'BCA']
priya
['priya' '22' 'BCA']
priya

## correct practice of storing data in np array with define data-type eg :-

In [ ]:
a11 = np.array ([("priya","12","BCA"),("Ash","23","BCA")], dtype=[('name','U10'),('age','i1'),('coures','U10')])
print(a11[0])
print (a11['name'])
a11[0]['age']=20 #if want to change every data age then not pass parameter[],a11['age']=21
print(a11)

('priya', 12, 'BCA')
['priya' 'Ash']
[('priya', 20, 'BCA') ('Ash', 23, 'BCA')]

## Different type of data-type entery:-

In [ ]:
a12 = np.array ([("priya","12","BCA"),("Ash","23","BCA")], dtype=('U10,i1,U10'))
a13 = np.array ([("priya","12","BCA"),("Ash","23","BCA")], dtype={'names':['name','age','course'],'formats':['U10','i1','U10']})
a14 = np.array ([("priya","12","BCA"),("Ash","23","BCA")], dtype={'name':('U10',0),'age':('i1',1),'course':('U10',2)}) #useless way

In [ ]:
print(a12)
print(a13)
print(*a14)

[('priya', 12, 'BCA') ('Ash', 23, 'BCA')]
[('priya', 12, 'BCA') ('Ash', 23, 'BCA')]
('\U00420c70\U00430000\U00410000', 12, 'BCA') ('\U00421741\U00430000\U00410000', 23, 'BCA')